h1,h2,h3{font-size: 14px;}
::-webkit-input-placeholder{color: #999}

/* å¸ƒå±€ */
.site-inline{font-size: 0;}
.site-tree, .site-content{display: inline-block;  *display:inline; *zoom:1; vertical-align: top; font-size: 14px;}
.site-tree{width: 220px; min-height: 900px; padding: 5px 0 20px;}
.site-content{width: 899px; min-height: 900px; padding: 20px 0 10px 20px;}

/* å¤´éƒ¨ */
.header{height: 59px; border-bottom: 1px solid #404553;  background-color: #393D49;}
.logo{position: absolute; left: 0; top: 16px;}
.logo img{width: 82px; height: 31px;}

.header .layui-nav{position: absolute; left: 180px; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; }
.header .layui-nav .layui-nav-item[mobile]{display: none;}

.header .layui-container .logo{left: 15px;}
.header .layui-container .layui-nav{right: 15px;}

.menu{position: absolute; right: 0; top: 0; line-height: 65px;}
.menu a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.menu a{position: relative; padding: 0 20px; margin: 0 20px; color: #c2c2c2; font-size: 14px;}
.menu a:hover{color: #fff; transition: all .5s; -webkit-transition: all .5s}
.menu a.this{color: #fff}
.menu a.this::after{content: ''; position: absolute; left: 0; bottom: -1px; width: 100%; height: 5px; background-color: #5FB878;}

.header-index{background-color: #05031A; border: none;}
.header-index .site-banner-bg{}
.header-index[spring]{background-color: #0D1206}
.header-index[summer]{background-color: #0A0E11}
.header-index[autumn]{background-color: #100903}
.header-index[winter]{background-color: #110F25/*#06041C*/}

.header-demo{height: 60px; border-bottom: none;}
.header-demo .logo{left: 40px;}
.header-demo .layui-nav{top: 0;}
.header-demo .layui-nav .layui-nav-item{margin: 0 10px;}

.header-demo .layui-nav .layui-this a{padding: 0 30px;}
.layui-layout-admin .site-demo-body{top: 106px;}
.site-demo-title{position: fixed; left: 200px; right: 0; top: 65px;}
.site-demo-code{position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: none; padding: 10px; resize: none; font-size: 12px; background-color: #F7FBFF; color: #881280; font-family: Courier New;}

.site-demo-overflow{overflow: hidden;}
.site-demo-title input{
    border-top:none;border-left:none;border-right:none;
}
.address{
    display: none;
}
.layui-layedit{
    max-width: 70%
}

/*自定义页面css样式*/
.activity-index-button-active{
	border-bottom:4px solid red;
}
/*用户详情页*/
.view-detail{
	width: 70%;
	margin:0 auto;
	margin-top: 2rem;
	/*background-color: pink;*/
	border:1px solid black;
	box-shadow: 2px 2px 2px 2px gray;
}
.view-detail-button{
	text-align: right;
}
.view-detail-button>button{
	margin: 10px;
}
.view-detail-info-title>span{
	font-size: 2rem;
}
.view-detail-left{
	padding-left: 2rem;
	font-size: 1rem;
}
.view-detail-headimg{
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
}
.view-detail-tag-div{
    /*background-color: #FF5722;*/
    line-height: 3rem;
    text-align: center;
    border-radius: 7px;
}
.list-group-item-info{
	color: #31708f;
    background-color: #d9edf7;
}
.view-detail-tag-ul{
	list-style: none;
}
.view-detail-tag-ul>li:first-child{
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.view-detail-tag-ul li{
	display: flex;
	text-align: center;
	position: relative;
    padding: 3px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    margin-top: 0px;
}
.list-group-item-success{
	color: #3c763d;
    background-color: #dff0d8;
}
.view-detail-layui-card{
	border:1px solid red;
}



